extends layout

block content
    .root_login
        h1 Login
        form.login__form(method='POST', action='/login')
            lebel.l_login Username
            input.form-control(name='username', type='text')
            lebel.l_login Password
            input.form-control(name='password', type='password')
            br
            button#login__btn.btn.btn-primary Login

